.form {
  padding: 0.5rem;

  width: 100vw;
  max-width: 500px;

  .reply,
  .reply_error {
    padding: 0.8rem 0.8rem;
    margin-bottom: 0.8rem;

    border: 1px solid #a2b6cf42;
    border-radius: 0.456rem;

    width: 100%;

    background-color: #bdffdc;

    font-size: 1.2rem;
    font-weight: 500;
    color: #141c23;
  }

  .reply_error {
    background-color: #ffbdbd;
  }

  .textarea {
    padding: 0.8rem 0.8rem;

    outline: none;
    border: 1px solid var(--textarea-border-color);
    border-radius: 0.456rem;

    width: 100%;
    height: 50px;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 100px;

    background-color: var(--textarea-bg-color);

    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Proxima Nova", sans-serif;
    color: var(--textarea-text-color);

    transition: 0.4s;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--placeholder-text-color);
    }
  }

  .btn {
    padding: 0.8rem 2rem;
    margin-top: 0.8rem;

    outline: none;
    border: none;
    border-radius: 0.456rem;

    background-color: var(--btn-bg-color);

    text-align: center;

    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    transition: 0.4s;

    &:hover {
      background-color: var(--btn-bg-hover-color);
    }
  }

  .link {
    padding: 0.8rem 2rem;
    margin-left: 0.8rem;

    outline: none;
    border: none;
    border-radius: 0.456rem;

    background-color: var(--link-bg-color);

    text-align: center;

    font-size: 1rem;
    font-weight: 500;
    color: var(--link-text-color);
  }
}
