@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;

  font-family: "Proxima Nova", sans-serif;

  background-color: #0d1318;

  background-image: radial-gradient(#ffffff54, 0.5px, transparent 0);
  background-size: 20px 20px;
}

:root {
  --textarea-border-color: #ffffff34;
  --textarea-bg-color: #182435;
  --textarea-text-color: #fff;
  --placeholder-text-color: #ffffff58;
  --message-border-color: #ffffff34;
  --message-bg-color: #182435;
  --message-text-color: #fff;
  --btn-bg-color: #6200ff;
  --btn-bg-hover-color: #8a43fd;
  --link-text-color: #141c23;
  --link-bg-color: #aaffcd;
}
